.body{
    max-width: 550px;
    margin: 0 auto;
}

.imgfondo{
    position: relative;
    width: 100%;
}
  
.texto{
    font-size: 50px;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    color: white;     
    text-align: justify;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: justify;
}

.pie{
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
}

.letra{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: justify;
}

.link{
    color: red;
}