*{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    margin-left: 30%;
    margin-right: 33%;
}
.text{
    margin-left: 30%;
    margin-right: 35%;
    text-align: justify;
}
.img{
    margin-left: 30%;
    width: 100%;
}
.enlace{
    color: #068069;
}